@import '../config/colors';
:root {
    font-size: 10px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: map-get($colors, body_bg-color);
    .pageWrapper {
        margin: 0 2.4rem;
    }
}

li {
    list-style: none;
}