@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;800&display=swap");
:root {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(230deg, 60%, 8%);
}
body .pageWrapper {
  margin: 0 2.4rem;
}

li {
  list-style: none;
}

* {
  font-family: "Manrope", sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 0 6.5rem 0;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about .about__mobileIllustration {
  width: 100%;
  object-fit: contain;
  margin-bottom: 5rem;
}
.about .about__titleText {
  color: hsl(0deg, 0%, 100%);
  font-size: 3.2rem;
  line-height: 4rem;
  font-weight: 800;
  text-align: center;
  padding: 0 3rem;
}
.about .about__titleText span {
  color: hsl(179deg, 80%, 58%);
}
.about .about__mainText {
  color: hsl(225deg, 14%, 53%);
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin: 2.5rem 0 3rem 0;
}

.benefits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 14rem 0;
}
.benefits .benefits__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.benefits .benefits__box .benefits__box-imgWrapper {
  position: relative;
  background-color: hsl(206deg, 85%, 22%);
  width: 12rem;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4rem;
  margin-bottom: 3rem;
}
.benefits .benefits__box .benefits__box-imgWrapper .benefits__box-img {
  max-width: 6rem;
}
.benefits .benefits__box:last-child .benefits__box-imgWrapper img {
  max-width: 8rem;
}
.benefits .benefits__box .benefits__box-title {
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: 800;
  color: hsl(0deg, 0%, 100%);
  margin-bottom: 1rem;
}
.benefits .benefits__box .benefits__box-text {
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 500;
  color: hsl(225deg, 14%, 53%);
  text-align: center;
  margin-bottom: 6rem;
}
.benefits .benefits__box:last-child .benefits__box-text {
  margin-bottom: 0;
}

.plans .plans__textBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.plans .plans__textBox .plans__textBox-title {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 800;
  margin-bottom: 3rem;
  color: hsl(0deg, 0%, 100%);
}
.plans .plans__textBox .plans__textBox-text {
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 500;
  margin-bottom: 8rem;
  text-align: center;
}
.plans .plans__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.plans .plans__wrapper .plans__planBox {
  position: relative;
  width: 100%;
  background-color: hsl(206deg, 85%, 22%);
  margin-bottom: 6.5rem;
  border-radius: 1rem;
  padding: 5rem 3rem 4rem;
  color: hsl(0deg, 0%, 100%);
}
.plans .plans__wrapper .plans__planBox .plans__icon {
  position: absolute;
  top: -2.3rem;
  left: 3rem;
}
.plans .plans__wrapper .plans__planBox .plans__title {
  font-size: 1.8rem;
  line-height: 2.5rem;
  font-weight: 800;
  margin-bottom: 2rem;
}
.plans .plans__wrapper .plans__planBox .plans__description {
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 300;
  margin-bottom: 3rem;
  color: hsl(225deg, 14%, 53%);
}
.plans .plans__wrapper .plans__planBox .plans__price {
  display: inline-block;
  font-size: 4rem;
  margin-bottom: 2rem;
  font-weight: 800;
}
.plans .plans__wrapper .plans__planBox .plans__benefitsList .plans__benefit {
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 300;
}
.plans .plans__wrapper .plans__planBox .plans__benefitsList .plans__benefit svg {
  margin-right: 1.5rem;
}
.plans .plans__wrapper .plans__planBox:nth-of-type(1) .plans__benefitsList .plans__benefit svg .fill {
  fill: hsl(179deg, 80%, 58%);
}
.plans .plans__wrapper .plans__planBox:nth-of-type(2) {
  background-color: hsl(179deg, 80%, 58%);
  color: hsl(230deg, 60%, 8%);
}
.plans .plans__wrapper .plans__planBox:nth-of-type(2) .plans__icon {
  top: -3.25rem;
}
.plans .plans__wrapper .plans__planBox:nth-of-type(2) .plans__description {
  color: hsl(206deg, 85%, 22%);
}
.plans .plans__wrapper .plans__planBox:nth-of-type(2) .plans__price {
  display: flex;
  align-items: center;
}
.plans .plans__wrapper .plans__planBox:nth-of-type(2) .plans__price strong {
  font-size: 1.5rem;
  margin-left: 1rem;
  font-weight: 300;
}

/*# sourceMappingURL=style.css.map */
