// KOLORY
// hsl(179, 80%, 58%)
// hsl(206, 85%, 22%)
// hsl(225, 14%, 53%)
// hsl(0, 0%, 100%)
// hsl(230, 60%, 8%)
// hsl(343, 100%, 58%)


$colors:(body_bg-color: hsl(230, 60%, 8%),
about_titleText-color: hsl(0, 0%, 100%),
about_highlightText-color: hsl(179, 80%, 58%),
about_mainText-color: hsl(225, 14%, 53%), );
