@import '../config/colors';

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .about__mobileIllustration {
        width: 100%;
        object-fit: contain;
        margin-bottom: 5rem;
    }
    .about__titleText {
        color: map-get($colors, about_titleText-color );
        font-size: 3.2rem;
        line-height: 4rem;
        font-weight: 800;
        text-align: center;
        padding: 0 3rem;

        span {
            color: map-get($colors, about_highlightText-color);
        }
    }

    .about__mainText {
        color: map-get($colors, about_mainText-color );
        text-align: center;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 2.5rem;
        margin: 2.5rem 0 3rem 0;
    }
}